body{
  
}

#logo{
    font-size: 20p;
    color: red;
    padding-top: 50px;
    text-align: center;
}
#fillInfo{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
/*    align-content: center;*/
}
